* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: #000000;
    color: #ffffff;
}

header {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 30px;
    background-color: #000000;
    position: relative;

    .text {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .title {

            a {
                text-decoration: none;
                color: #ffffff;
                font-style: normal;
                font-weight: 500;
                font-size: 3.5rem;
            }
        }

        nav {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            transition: all 0.3s ease-in-out;
            z-index: 9999 !important;

            .menu {
                display: flex;
                height: 330px;

                .title {
                    height: 30px;
                    font-size: 1.5rem;
                    transform: rotate(-90deg);
                    font-size: 1.2rem;
                    font-weight: bold;
                    font-style: normal;
                    margin-top: 33px;
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {

                        a {
                            text-decoration: none;
                            color: #000000;
                            font-style: normal;
                            font-weight: bolder;
                            font-size: 3.5rem;
                            padding: 2.5px;
                            transition: all 0.3s;
                            border-radius: 5px;
                            z-index: 999;

                            &:hover {
                                background-color: #000000;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }

            .contact {
                height: 330px;
                width: 330px;
                display: flex;
                flex-direction: column;
                align-items: end;
                justify-content: end;

                .address h5 {
                    font-style: normal;
                    font-size: 1.4rem;
                    font-weight: bold;
                }

                .social {
                    width: 263px;
                    margin-bottom: 9px;

                    a {
                        font-size: 1.4rem;
                        color: #000000;
                        opacity: 0.3;
                        transition: all 0.3s;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        /*HAMBURGER YERİ*/
        .hamburger-menu {
            width: 50px;
            height: 50px;
            cursor: pointer;
            z-index: 999 !important;
            margin-top: 5px;

            span,
            span::before,
            span::after {
                content: '';
                display: block;
                height: 5px;
                width: 100%;
                background-color: #ffffff;
            }

            span {
                transform: translateY(20px);
                transition: all 300ms;

                &::before {
                    position: absolute;
                    transition: all 300ms;
                    bottom: 15px;
                }

                &::after {
                    position: absolute;
                    transition: all 300ms;
                    top: 15px;
                }
            }
        }

        #check:checked+.hamburger-menu span {
            background-color: transparent;
            transition: all 300ms;
        }

        #check:checked+.hamburger-menu span::before {
            transform: rotate(-45deg);
            transition: all 300ms;
            bottom: 0;
        }

        #check:checked+.hamburger-menu span::after {
            transform: rotate(45deg);
            transition: all 300ms;
            top: 0;
        }

        #check:checked~nav {
            left: 0;
        }

        #check:checked~.hamburger-menu {
            position: fixed;
            right: 10rem;
            z-index: 99999 !important;
        }

        #check:checked~.hamburger-menu span::before {
            background-color: #000000;
        }

        #check:checked~.hamburger-menu span::after {
            background-color: #000000;
        }
    }
}

.content {
    width: 100%;
    height: calc(100vh - 110px);
    background-color: #000000;

    .text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffffff;

        .title {
            font-size: 2.5rem;
            font-weight: 500;
            font-style: normal;
        }

        .des {
            font-size: 1.5rem;
            font-weight: 500;
            font-style: normal;
        }
    }

    .swiper {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);

        .bi-chevron-double-down {
            font-style: normal;
            font-size: 2.5rem;
            color: #ffffff;
        }
    }
}

.about {
    margin: 100px 0px !important;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 560px;

        .title {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            font-weight: 500;

            img {
                width: 25px;
                margin-left: 5px;
                filter: grayscale(100%);
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }

        .des {
            font-size: 1.1rem;
            font-weight: 400;
            font-style: normal;
            line-height: 1.2;
            text-align: center;
            overflow-wrap: break-word;
            overflow: auto;
            white-space: normal;
        }

        .button {
            margin-top: 25px;
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
                color: #000000;
                background-color: #d9d9d9;
                width: 250px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.1rem;
                font-weight: 500;
                font-style: normal;
                transition: all 0.3s;

                &:hover {
                    background-color: #000000;
                    color: #d9d9d9;
                }
            }
        }
    }
}

.skills {
    width: 100%;
    height: auto;
    margin-bottom: 100px;

    .title {
        width: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;

        img {
            width: 35px;
            margin-bottom: 10px;
            filter: grayscale(100%);
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                filter: grayscale(0%);
            }
        }
    }

    .logos {
        overflow: hidden;
        padding: 30px 0px;
        background-color: #f2f2f2;
        display: flex;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 250px;
            height: 100%;
            z-index: 2;
            background: linear-gradient(to left, rgba(255, 255, 255, 0), #f2f2f2);
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            right: 0;
            bottom: 0;
            width: 250px;
            height: 100%;
            z-index: 2;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), #f2f2f2);
        }

        .logos-slide {
            white-space: nowrap;
            animation: 30s slide infinite linear;

            img {
                height: 100px;
                filter: grayscale(100%);
                margin: 0 40px;
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.project {
    width: 100%;
    height: auto;
    padding: 0px 5rem;
    margin-bottom: 100px;

    .title {
        width: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        text-align: center;

        img {
            width: 35px;
            margin-bottom: 10px;
            filter: grayscale(100%);
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                filter: grayscale(0%);
            }
        }
    }

    .projects {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: auto;
        flex-wrap: wrap;

        .box {
            width: 500px;
            height: 300px;
            position: relative;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            transition: all 0.3s;
            margin-bottom: 50px;

            &:hover {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(0%);
            }

            &:hover img {
                filter: grayscale(100%);
            }

            .about {
                position: absolute;
                top: -100px !important;
                left: 0;
                background-color: rgb(255, 255, 255, 0.8);
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all 0.3s;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: start !important;
                justify-content: center;
                padding: 0 20px;
                overflow-wrap: break-word;
                overflow: auto;
                white-space: normal;

                &:hover {
                    opacity: 1;
                }

                .title {
                    font-size: 1.6rem;
                    font-weight: 600;
                    font-style: normal;
                    text-align: start;
                    width: 100%;
                }

                .progkod {
                    font-size: 1.2rem;
                    font-weight: 500;
                    font-style: normal;
                    width: 100%;
                    margin-bottom: 10px;
                }

                a {
                    text-decoration: none;
                    color: #000000;
                    transition: all 0.3s;
                    font-size: 1.2rem;
                    font-weight: 500;
                    font-style: normal;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }

    .buttongroup {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;

            .button {
                margin-top: 25px;
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: #000000;
                    background-color: #d9d9d9;
                    width: 250px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.1rem;
                    font-weight: 500;
                    font-style: normal;
                    transition: all 0.3s;

                    &:hover {
                        background-color: #000000;
                        color: #d9d9d9;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #000000;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0 10rem;

    .link {
        width: 33%;
        display: flex;
        justify-content: center;

        ul {
            list-style-type: none;
            display: flex;

            li {
                margin: 0px 5px;

                a {
                    padding: 2.5px;
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-weight: 500;
                    font-style: normal;
                    transition: all 0.3s;
                    border-radius: 5px;

                    &:hover {
                        background-color: #ffffff;
                        color: #000000;
                    }
                }
            }
        }
    }

    .box {
        display: flex;
        width: 66%;

        .contacttt {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #ffffff;

            .email {
                font-size: 1.1rem;
                font-weight: 500;
                font-style: normal;
            }
        }

        .text {
            width: 50%;
            display: flex;
            justify-content: center;

            a {
                text-decoration: none;
                color: #ffffff;
                font-style: normal;
                font-weight: 500;
                font-size: 2.5rem;
            }

        }
    }
}




.about2 {
    margin: 100px 0px !important;

    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        .title {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 1.8rem;
            font-weight: 500;

            img {
                width: 25px;
                margin-left: 5px;
                filter: grayscale(100%);
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }

        .des {
            font-size: 1.1rem;
            font-weight: 400;
            font-style: normal;
            line-height: 1.2;
            text-align: start;
            overflow-wrap: break-word;
            overflow: auto;
            white-space: normal;
        }

        .button {
            margin-top: 25px;
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
                color: #000000;
                background-color: #d9d9d9;
                width: 250px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.1rem;
                font-weight: 500;
                font-style: normal;
                transition: all 0.3s;

                &:hover {
                    background-color: #000000;
                    color: #d9d9d9;
                }
            }
        }
    }
}

.contactttttt {
    width: 100%;
    height: auto;
    padding: 0 15rem;
    margin: 100px 0px;

    .title {
        width: 100%;
        font-weight: 500;
        font-style: normal;
        font-size: 1.8rem;

        img {
            width: 25px;
            margin-left: 5px;
            filter: grayscale(100%);
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                filter: grayscale(0%);
            }
        }
    }

    .mail {
        margin-top: 25px;
        width: 100%;

        .box1 {
            display: flex;
            width: 100%;

            .username {
                width: 50%;

                .title {
                    font-size: 1.1rem !important;
                    font-style: normal;
                    font-weight: 500;
                    width: 95%;
                }

                .text {
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 2px solid #000000;
                    width: 95%;
                    margin-top: 10px;
                    outline: none;
                    font-size: 1.1rem;
                    font-weight: 500;
                    font-style: normal;
                }
            }

            .email {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: end;

                .title {
                    font-size: 1.1rem !important;
                    font-style: normal;
                    font-weight: 500;
                    width: 95%;
                }

                .mail {
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 2px solid #000000;
                    width: 95%;
                    margin-top: 10px;
                    outline: none;
                    font-size: 1.1rem;
                    font-weight: 500;
                    font-style: normal;
                }
            }
        }

        .box2 {
            margin-top: 50px;

            .message {
                width: 100%;

                .title {
                    font-size: 1.1rem !important;
                    font-style: normal;
                    font-weight: 500;
                    width: 100%;
                }

                .messagetext {
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 2px solid #000000;
                    width: 100%;
                    margin-top: 10px;
                    outline: none;
                    font-size: 1.1rem;
                    font-weight: 500;
                    font-style: normal;
                }
            }
        }
    }

    .send {
        width: 100%;
        height: auto;
        padding-top: 25px;
        display: flex;
        justify-content: center;

        .sendbutton {
            color: #000000;
            background-color: #d9d9d9;
            width: 250px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            font-weight: 500;
            font-style: normal;
            transition: all 0.3s;
            outline: none;
            border: none;

            &:hover {
                background-color: #000000;
                color: #d9d9d9;
            }
        }
    }
}














@media only screen and (max-width:1700px) {
    .project {
        width: 100%;
        height: auto;
        padding: 0px 10px;
        margin-bottom: 100px;

        .title {
            width: 100%;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
            margin-bottom: 10px;
            text-align: center;

            img {
                width: 35px;
                margin-bottom: 10px;
                filter: grayscale(100%);
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }

        .projects {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: auto;

            .box {
                width: 500px;
                height: 300px;
                position: relative;
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                transition: all 0.3s;

                &:hover {
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(0%);
                }

                &:hover img {
                    filter: grayscale(100%);
                }

                .about {
                    position: absolute;
                    top: -100px !important;
                    left: 0;
                    background-color: rgb(255, 255, 255, 0.8);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.3s;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: start !important;
                    justify-content: center;
                    padding: 0 20px;
                    overflow-wrap: break-word;
                    overflow: auto;
                    white-space: normal;

                    &:hover {
                        opacity: 1;
                    }

                    .title {
                        font-size: 1.5rem;
                        font-weight: 600;
                        font-style: normal;
                        text-align: start;
                        width: 100%;
                    }

                    .progkod {
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    a {
                        text-decoration: none;
                        color: #000000;
                        transition: all 0.3s;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1600px) {
    .project {
        width: 100%;
        height: auto;
        padding: 0px 10px;
        margin-bottom: 100px;

        .title {
            width: 100%;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
            margin-bottom: 10px;
            text-align: center;

            img {
                width: 35px;
                margin-bottom: 10px;
                filter: grayscale(100%);
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }

        .projects {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: auto;

            .box {
                width: 450px;
                height: 300px;
                position: relative;
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                transition: all 0.3s;

                &:hover {
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(0%);
                }

                &:hover img {
                    filter: grayscale(100%);
                }

                .about {
                    position: absolute;
                    top: -100px !important;
                    left: 0;
                    background-color: rgb(255, 255, 255, 0.8);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.3s;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: start !important;
                    justify-content: center;
                    padding: 0 20px;
                    overflow-wrap: break-word;
                    overflow: auto;
                    white-space: normal;

                    &:hover {
                        opacity: 1;
                    }

                    .title {
                        font-size: 1.5rem;
                        font-weight: 600;
                        font-style: normal;
                        text-align: start;
                        width: 100%;
                    }

                    .progkod {
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    a {
                        text-decoration: none;
                        color: #000000;
                        transition: all 0.3s;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1500px) {
    footer {
        background-color: #000000;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        padding: 0px 16px;

        .link {
            width: 40%;
            display: flex;
            justify-content: center;

            ul {
                list-style-type: none;
                display: flex;

                li {
                    margin: 0px 5px;

                    a {
                        padding: 2.5px;
                        color: #ffffff;
                        text-decoration: none;
                        font-size: 1.2rem;
                        font-weight: 500;
                        font-style: normal;
                        transition: all 0.3s;
                        border-radius: 5px;

                        &:hover {
                            background-color: #ffffff;
                            color: #000000;
                        }
                    }
                }
            }
        }

        .box {
            display: flex;
            width: 60%;

            .contact {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #ffffff;
            }

            .text {
                width: 50%;
                display: flex;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2.5rem;
                }

            }
        }
    }


    .contactttttt {
        width: 100%;
        height: auto;
        padding: 0 5rem;
        margin: 100px 0px;
    
        .title {
            width: 100%;
            font-weight: 500;
            font-style: normal;
            font-size: 1.8rem;
    
            img {
                width: 25px;
                margin-left: 5px;
                filter: grayscale(100%);
                transition: all 0.3s;
                cursor: pointer;
    
                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    
        .mail {
            margin-top: 25px;
            width: 100%;
    
            .box1 {
                display: flex;
                width: 100%;
    
                .username {
                    width: 50%;
    
                    .title {
                        font-size: 1.1rem !important;
                        font-style: normal;
                        font-weight: 500;
                        width: 95%;
                    }
    
                    .text {
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 2px solid #000000;
                        width: 95%;
                        margin-top: 10px;
                        outline: none;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                    }
                }
    
                .email {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
    
                    .title {
                        font-size: 1.1rem !important;
                        font-style: normal;
                        font-weight: 500;
                        width: 95%;
                    }
    
                    .mail {
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 2px solid #000000;
                        width: 95%;
                        margin-top: 10px;
                        outline: none;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                    }
                }
            }
    
            .box2 {
                margin-top: 50px;
    
                .message {
                    width: 100%;
    
                    .title {
                        font-size: 1.1rem !important;
                        font-style: normal;
                        font-weight: 500;
                        width: 100%;
                    }
    
                    .messagetext {
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 2px solid #000000;
                        width: 100%;
                        margin-top: 10px;
                        outline: none;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                    }
                }
            }
        }
    
        .send {
            width: 100%;
            height: auto;
            padding-top: 25px;
            display: flex;
            justify-content: center;
    
            .sendbutton {
                color: #000000;
                background-color: #d9d9d9;
                width: 250px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.1rem;
                font-weight: 500;
                font-style: normal;
                transition: all 0.3s;
                outline: none;
                border: none;
    
                &:hover {
                    background-color: #000000;
                    color: #d9d9d9;
                }
            }
        }
    }
}

@media only screen and (max-width:1450px) {
    .project {
        width: 100%;
        height: auto;
        padding: 0px 10px;
        margin-bottom: 100px;

        .title {
            width: 100%;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
            margin-bottom: 10px;
            text-align: center;

            img {
                width: 35px;
                margin-bottom: 10px;
                filter: grayscale(100%);
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }

        .projects {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: auto;

            .box {
                width: 400px;
                height: 300px;
                position: relative;
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                transition: all 0.3s;

                &:hover {
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(0%);
                }

                &:hover img {
                    filter: grayscale(100%);
                }

                .about {
                    position: absolute;
                    top: -100px !important;
                    left: 0;
                    background-color: rgb(255, 255, 255, 0.8);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.3s;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: start !important;
                    justify-content: center;
                    padding: 0 20px;
                    overflow-wrap: break-word;
                    overflow: auto;
                    white-space: normal;

                    &:hover {
                        opacity: 1;
                    }

                    .title {
                        font-size: 1.5rem;
                        font-weight: 600;
                        font-style: normal;
                        text-align: start;
                        width: 100%;
                    }

                    .progkod {
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    a {
                        text-decoration: none;
                        color: #000000;
                        transition: all 0.3s;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (max-width:1300px) {
    .project {
        width: 100%;
        height: auto;
        padding: 0px 10px;
        margin-bottom: 100px;

        .title {
            width: 100%;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
            margin-bottom: 10px;
            text-align: center;

            img {
                width: 35px;
                margin-bottom: 10px;
                filter: grayscale(100%);
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }

        .projects {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: auto;

            .box {
                width: 350px;
                height: 250px;
                position: relative;
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                transition: all 0.3s;
                margin-bottom: 30px;

                &:hover {
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(0%);
                }

                &:hover img {
                    filter: grayscale(100%);
                }

                .about {
                    position: absolute;
                    top: -100px !important;
                    left: 0;
                    background-color: rgb(255, 255, 255, 0.8);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.3s;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: start !important;
                    justify-content: center;
                    padding: 0 20px;
                    overflow-wrap: break-word;
                    overflow: auto;
                    white-space: normal;

                    &:hover {
                        opacity: 1;
                    }

                    .title {
                        font-size: 1.2rem;
                        font-weight: 600;
                        font-style: normal;
                        text-align: start;
                        width: 100%;
                    }

                    .progkod {
                        font-size: 1rem;
                        font-weight: 600;
                        font-style: normal;
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    a {
                        text-decoration: none;
                        color: #000000;
                        transition: all 0.3s;
                        font-size: 1rem;
                        font-weight: 600;
                        font-style: normal;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1250px) {
    header {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #check:checked~.hamburger-menu {
        position: fixed;
        right: 2rem !important;
    }
}

@media only screen and (max-width:1070px) {
    .buttongroup {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px !important;

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100% !important;

            .button {
                margin-top: 25px;
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: #000000;
                    background-color: #d9d9d9;
                    width: 250px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.1rem;
                    font-weight: 500;
                    font-style: normal;
                    transition: all 0.3s;

                    &:hover {
                        background-color: #000000;
                        color: #d9d9d9;
                    }
                }
            }
        }
    }



    .contactttttt {
        width: 100%;
        height: auto;
        padding: 0 16px;
        margin: 100px 0px;
    
        .title {
            width: 100%;
            font-weight: 500;
            font-style: normal;
            font-size: 1.8rem;
    
            img {
                width: 25px;
                margin-left: 5px;
                filter: grayscale(100%);
                transition: all 0.3s;
                cursor: pointer;
    
                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    
        .mail {
            margin-top: 25px;
            width: 100%;
    
            .box1 {
                display: flex;
                width: 100%;
    
                .username {
                    width: 50%;
    
                    .title {
                        font-size: 1.1rem !important;
                        font-style: normal;
                        font-weight: 500;
                        width: 95%;
                    }
    
                    .text {
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 2px solid #000000;
                        width: 95%;
                        margin-top: 10px;
                        outline: none;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                    }
                }
    
                .email {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
    
                    .title {
                        font-size: 1.1rem !important;
                        font-style: normal;
                        font-weight: 500;
                        width: 95%;
                    }
    
                    .mail {
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 2px solid #000000;
                        width: 95%;
                        margin-top: 10px;
                        outline: none;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                    }
                }
            }
    
            .box2 {
                margin-top: 50px;
    
                .message {
                    width: 100%;
    
                    .title {
                        font-size: 1.1rem !important;
                        font-style: normal;
                        font-weight: 500;
                        width: 100%;
                    }
    
                    .messagetext {
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 2px solid #000000;
                        width: 100%;
                        margin-top: 10px;
                        outline: none;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                    }
                }
            }
        }
    
        .send {
            width: 100%;
            height: auto;
            padding-top: 25px;
            display: flex;
            justify-content: center;
    
            .sendbutton {
                color: #000000;
                background-color: #d9d9d9;
                width: 250px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.1rem;
                font-weight: 500;
                font-style: normal;
                transition: all 0.3s;
                outline: none;
                border: none;
    
                &:hover {
                    background-color: #000000;
                    color: #d9d9d9;
                }
            }
        }
    }
}

@media only screen and (max-width:1000px) {
    footer {
        background-color: #000000;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        padding: 0px 16px;

        .link {
            width: 100% !important;
            display: flex;
            justify-content: center;

            ul {
                list-style-type: none;
                display: flex;
                padding: 0 !important;

                li {
                    margin: 0px 2.5px;

                    a {
                        padding: 2.5px;
                        color: #ffffff;
                        text-decoration: none;
                        font-size: 1rem !important;
                        font-weight: 500;
                        font-style: normal;
                        transition: all 0.3s;
                        border-radius: 5px;

                        &:hover {
                            background-color: #ffffff;
                            color: #000000;
                        }
                    }
                }
            }
        }

        .box {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 75px !important;

            .contacttt {
                width: 200px !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                height: 75px !important;

                .email {
                    font-size: 1rem;
                    font-weight: 500;
                    font-style: normal;
                }
            }

            .text {
                width: 75px !important;
                display: flex;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 3rem;
                }

            }
        }
    }
}

@media only screen and (max-width:800px) {
    .menu {
        display: flex;
        height: 150px !important;

        .title {
            height: 30px;
            font-size: 1.5rem;
            transform: rotate(-90deg);
            font-size: 1.2rem;
            font-weight: bold;
            font-style: normal;
            margin-top: 28px !important;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {

                a {
                    text-decoration: none;
                    color: #000000;
                    font-style: normal;
                    font-weight: bolder;
                    font-size: 2.5rem !important;
                    padding: 2.5px;
                    transition: all 0.3s;
                    border-radius: 5px;
                    z-index: 999;

                    &:hover {
                        background-color: #000000;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .contact {
        margin-top: 90px;
        height: 240px !important;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;

        .address h5 {
            font-style: normal;
            font-size: 1.4rem;
            font-weight: bold;
        }

        .social {
            width: 263px;
            margin-bottom: 9px;

            a {
                font-size: 1.4rem;
                color: #000000;
                opacity: 0.3;
                transition: all 0.3s;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }


    .contactttttt {
        width: 100%;
        height: auto;
        padding: 0 16px;
        margin: 100px 0px;
    
        .title {
            width: 100%;
            font-weight: 500;
            font-style: normal;
            font-size: 1.8rem;
    
            img {
                width: 25px;
                margin-left: 5px;
                filter: grayscale(100%);
                transition: all 0.3s;
                cursor: pointer;
    
                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    
        .mail {
            margin-top: 25px;
            width: 100%;
    
            .box1 {
                display: flex;
                flex-direction: column;
                width: 100%;
    
                .username {
                    width: 100%;
    
                    .title {
                        font-size: 1.1rem !important;
                        font-style: normal;
                        font-weight: 500;
                        width: 100%;
                    }
    
                    .text {
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 2px solid #000000;
                        width: 100%;
                        margin-top: 5px;
                        outline: none;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                    }
                }
    
                .email {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-top: 25px;

    
                    .title {
                        font-size: 1.1rem !important;
                        font-style: normal;
                        font-weight: 500;
                        width: 100%;
                    }
    
                    .mail {
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 2px solid #000000;
                        width: 100%;
                        margin-top: 5px;
                        outline: none;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                    }
                }
            }
    
            .box2 {
                margin-top: 25px;
    
                .message {
                    width: 100%;
    
                    .title {
                        font-size: 1.1rem !important;
                        font-style: normal;
                        font-weight: 500;
                        width: 100%;
                    }
    
                    .messagetext {
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 2px solid #000000;
                        width: 100%;
                        margin-top: 5px;
                        outline: none;
                        font-size: 1.1rem;
                        font-weight: 500;
                        font-style: normal;
                    }
                }
            }
        }
    
        .send {
            width: 100%;
            height: auto;
            padding-top: 25px;
            display: flex;
            justify-content: center;
    
            .sendbutton {
                color: #000000;
                background-color: #d9d9d9;
                width: 250px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.1rem;
                font-weight: 500;
                font-style: normal;
                transition: all 0.3s;
                outline: none;
                border: none;
    
                &:hover {
                    background-color: #000000;
                    color: #d9d9d9;
                }
            }
        }
    }
}

@media only screen and (max-width:700px) {
    nav {
        display: flex;
        flex-direction: column;

        .menu {
            display: flex;
            width: 330px;

            .title {
                height: 30px;
                font-size: 1.5rem;
                transform: rotate(-90deg);
                font-size: 1.2rem;
                font-weight: bold;
                font-style: normal;
                margin-top: 33px;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {

                    a {
                        text-decoration: none;
                        color: #000000;
                        font-style: normal;
                        font-weight: bolder;
                        font-size: 3.5rem;
                        padding: 2.5px;
                        transition: all 0.3s;
                        border-radius: 5px;
                        z-index: 999;

                        &:hover {
                            background-color: #000000;
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        .contact {
            width: 330px;
            display: flex;
            flex-direction: column;
            align-items: start !important;
            justify-content: end;
            padding-left: 28px;

            .address h5 {
                font-style: normal;
                font-size: 1.4rem;
                font-weight: bold;
            }

            .social {
                width: 263px;
                margin-bottom: 9px;

                a {
                    font-size: 1.4rem;
                    color: #000000;
                    opacity: 0.3;
                    transition: all 0.3s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .logos {
        overflow: hidden;
        padding: 30px 0px;
        background-color: #f2f2f2;
        position: relative;
        display: flex;

        &::before {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 50px !important;
            height: 100%;
            z-index: 2;
            background: linear-gradient(to left, rgba(255, 255, 255, 0), #f2f2f2);
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            right: 0;
            bottom: 0;
            width: 50px !important;
            height: 100%;
            z-index: 2;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), #f2f2f2);
        }

        .logos-slide {
            white-space: nowrap;
            animation: 15s slide infinite linear;

            img {
                height: 75px !important;
                filter: grayscale(100%);
                margin: 0 20px !important;
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}

@media only screen and (max-width:560px) {
    .about {
        margin: 100px 0px !important;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0px 16px;

            .title {
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.8rem;
                font-weight: 500;

                img {
                    width: 25px;
                    margin-left: 5px;
                    filter: grayscale(100%);
                    transition: all 0.3s;
                    cursor: pointer;

                    &:hover {
                        filter: grayscale(0%);
                    }
                }
            }

            .des {
                font-size: 1.1rem;
                font-weight: 400;
                font-style: normal;
                line-height: 1.2;
                text-align: center;
                overflow-wrap: break-word;
                overflow: auto;
                white-space: normal;
            }
        }
    }
}