@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}

::selection {
  background-color: #000000;
  color: #ffffff;
}

header {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 30px;
  background-color: #000000;
  position: relative;
}
header .text {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*HAMBURGER YERİ*/
}
header .text .title a {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
}
header .text nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  z-index: 9999 !important;
}
header .text nav .menu {
  display: flex;
  height: 330px;
}
header .text nav .menu .title {
  height: 30px;
  font-size: 1.5rem;
  transform: rotate(-90deg);
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  margin-top: 33px;
}
header .text nav .menu ul {
  list-style-type: none;
  padding: 0;
}
header .text nav .menu ul li a {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: bolder;
  font-size: 3.5rem;
  padding: 2.5px;
  transition: all 0.3s;
  border-radius: 5px;
  z-index: 999;
}
header .text nav .menu ul li a:hover {
  background-color: #000000;
  color: #ffffff;
}
header .text nav .contact {
  height: 330px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
header .text nav .contact .address h5 {
  font-style: normal;
  font-size: 1.4rem;
  font-weight: bold;
}
header .text nav .contact .social {
  width: 263px;
  margin-bottom: 9px;
}
header .text nav .contact .social a {
  font-size: 1.4rem;
  color: #000000;
  opacity: 0.3;
  transition: all 0.3s;
}
header .text nav .contact .social a:hover {
  opacity: 1;
}
header .text .hamburger-menu {
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 999 !important;
  margin-top: 5px;
}
header .text .hamburger-menu span,
header .text .hamburger-menu span::before,
header .text .hamburger-menu span::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ffffff;
}
header .text .hamburger-menu span {
  transform: translateY(20px);
  transition: all 300ms;
}
header .text .hamburger-menu span::before {
  position: absolute;
  transition: all 300ms;
  bottom: 15px;
}
header .text .hamburger-menu span::after {
  position: absolute;
  transition: all 300ms;
  top: 15px;
}
header .text #check:checked + .hamburger-menu span {
  background-color: transparent;
  transition: all 300ms;
}
header .text #check:checked + .hamburger-menu span::before {
  transform: rotate(-45deg);
  transition: all 300ms;
  bottom: 0;
}
header .text #check:checked + .hamburger-menu span::after {
  transform: rotate(45deg);
  transition: all 300ms;
  top: 0;
}
header .text #check:checked ~ nav {
  left: 0;
}
header .text #check:checked ~ .hamburger-menu {
  position: fixed;
  right: 10rem;
  z-index: 99999 !important;
}
header .text #check:checked ~ .hamburger-menu span::before {
  background-color: #000000;
}
header .text #check:checked ~ .hamburger-menu span::after {
  background-color: #000000;
}

.content {
  width: 100%;
  height: calc(100vh - 110px);
  background-color: #000000;
}
.content .text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.content .text .title {
  font-size: 2.5rem;
  font-weight: 500;
  font-style: normal;
}
.content .text .des {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
}
.content .swiper {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.content .swiper .bi-chevron-double-down {
  font-style: normal;
  font-size: 2.5rem;
  color: #ffffff;
}

.about {
  margin: 100px 0px !important;
}
.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 560px;
}
.about .container .title {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
}
.about .container .title img {
  width: 25px;
  margin-left: 5px;
  filter: grayscale(100%);
  transition: all 0.3s;
  cursor: pointer;
}
.about .container .title img:hover {
  filter: grayscale(0%);
}
.about .container .des {
  font-size: 1.1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
}
.about .container .button {
  margin-top: 25px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .container .button a {
  text-decoration: none;
  color: #000000;
  background-color: #d9d9d9;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
  transition: all 0.3s;
}
.about .container .button a:hover {
  background-color: #000000;
  color: #d9d9d9;
}

.skills {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.skills .title {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.skills .title img {
  width: 35px;
  margin-bottom: 10px;
  filter: grayscale(100%);
  transition: all 0.3s;
  cursor: pointer;
}
.skills .title img:hover {
  filter: grayscale(0%);
}
.skills .logos {
  overflow: hidden;
  padding: 30px 0px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}
.skills .logos::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #f2f2f2);
}
.skills .logos::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f2f2f2);
}
.skills .logos .logos-slide {
  white-space: nowrap;
  animation: 30s slide infinite linear;
}
.skills .logos .logos-slide img {
  height: 100px;
  filter: grayscale(100%);
  margin: 0 40px;
  transition: all 0.3s;
  cursor: pointer;
}
.skills .logos .logos-slide img:hover {
  filter: grayscale(0%);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.project {
  width: 100%;
  height: auto;
  padding: 0px 5rem;
  margin-bottom: 100px;
}
.project .title {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  text-align: center;
}
.project .title img {
  width: 35px;
  margin-bottom: 10px;
  filter: grayscale(100%);
  transition: all 0.3s;
  cursor: pointer;
}
.project .title img:hover {
  filter: grayscale(0%);
}
.project .projects {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.project .projects .box {
  width: 500px;
  height: 300px;
  position: relative;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: all 0.3s;
}
.project .projects .box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.project .projects .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(0%);
}
.project .projects .box:hover img {
  filter: grayscale(100%);
}
.project .projects .box .about {
  position: absolute;
  top: -100px !important;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: start !important;
  justify-content: center;
  padding: 0 20px;
  overflow-wrap: break-word;
  overflow: auto;
  white-space: normal;
}
.project .projects .box .about:hover {
  opacity: 1;
}
.project .projects .box .about .title {
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  text-align: start;
  width: 100%;
}
.project .projects .box .about .progkod {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  margin-bottom: 10px;
}
.project .projects .box .about a {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
}
.project .projects .box .about a:hover {
  color: red;
}
.project .buttongroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.project .buttongroup .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.project .buttongroup .buttons .button {
  margin-top: 25px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project .buttongroup .buttons .button a {
  text-decoration: none;
  color: #000000;
  background-color: #d9d9d9;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
  transition: all 0.3s;
}
.project .buttongroup .buttons .button a:hover {
  background-color: #000000;
  color: #d9d9d9;
}

footer {
  background-color: #000000;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 0 10rem;
}
footer .link {
  width: 33%;
  display: flex;
  justify-content: center;
}
footer .link ul {
  list-style-type: none;
  display: flex;
}
footer .link ul li {
  margin: 0px 5px;
}
footer .link ul li a {
  padding: 2.5px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
  transition: all 0.3s;
  border-radius: 5px;
}
footer .link ul li a:hover {
  background-color: #ffffff;
  color: #000000;
}
footer .box {
  display: flex;
  width: 66%;
}
footer .box .contacttt {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
footer .box .contacttt .email {
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
}
footer .box .text {
  width: 50%;
  display: flex;
  justify-content: center;
}
footer .box .text a {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
}

.about2 {
  margin: 100px 0px !important;
}
.about2 .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.about2 .container .title {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.8rem;
  font-weight: 500;
}
.about2 .container .title img {
  width: 25px;
  margin-left: 5px;
  filter: grayscale(100%);
  transition: all 0.3s;
  cursor: pointer;
}
.about2 .container .title img:hover {
  filter: grayscale(0%);
}
.about2 .container .des {
  font-size: 1.1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-align: start;
}
.about2 .container .button {
  margin-top: 25px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about2 .container .button a {
  text-decoration: none;
  color: #000000;
  background-color: #d9d9d9;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
  transition: all 0.3s;
}
.about2 .container .button a:hover {
  background-color: #000000;
  color: #d9d9d9;
}

@media only screen and (max-width: 1700px) {
  .project {
    width: 100%;
    height: auto;
    padding: 0px 10px;
    margin-bottom: 100px;
  }
  .project .title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    text-align: center;
  }
  .project .title img {
    width: 35px;
    margin-bottom: 10px;
    filter: grayscale(100%);
    transition: all 0.3s;
    cursor: pointer;
  }
  .project .title img:hover {
    filter: grayscale(0%);
  }
  .project .projects {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }
  .project .projects .box {
    width: 500px;
    height: 300px;
    position: relative;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all 0.3s;
  }
  .project .projects .box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .project .projects .box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(0%);
  }
  .project .projects .box:hover img {
    filter: grayscale(100%);
  }
  .project .projects .box .about {
    position: absolute;
    top: -100px !important;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: center;
    padding: 0 20px;
    overflow-wrap: break-word;
    overflow: auto;
    white-space: normal;
  }
  .project .projects .box .about:hover {
    opacity: 1;
  }
  .project .projects .box .about .title {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    text-align: start;
    width: 100%;
  }
  .project .projects .box .about .progkod {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    margin-bottom: 10px;
  }
  .project .projects .box .about a {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
  }
  .project .projects .box .about a:hover {
    color: red;
  }
}
@media only screen and (max-width: 1600px) {
  .project {
    width: 100%;
    height: auto;
    padding: 0px 10px;
    margin-bottom: 100px;
  }
  .project .title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    text-align: center;
  }
  .project .title img {
    width: 35px;
    margin-bottom: 10px;
    filter: grayscale(100%);
    transition: all 0.3s;
    cursor: pointer;
  }
  .project .title img:hover {
    filter: grayscale(0%);
  }
  .project .projects {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }
  .project .projects .box {
    width: 450px;
    height: 300px;
    position: relative;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all 0.3s;
  }
  .project .projects .box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .project .projects .box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(0%);
  }
  .project .projects .box:hover img {
    filter: grayscale(100%);
  }
  .project .projects .box .about {
    position: absolute;
    top: -100px !important;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: center;
    padding: 0 20px;
    overflow-wrap: break-word;
    overflow: auto;
    white-space: normal;
  }
  .project .projects .box .about:hover {
    opacity: 1;
  }
  .project .projects .box .about .title {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    text-align: start;
    width: 100%;
  }
  .project .projects .box .about .progkod {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    margin-bottom: 10px;
  }
  .project .projects .box .about a {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
  }
  .project .projects .box .about a:hover {
    color: red;
  }
}
@media only screen and (max-width: 1500px) {
  footer {
    background-color: #000000;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0px 16px;
  }
  footer .link {
    width: 40%;
    display: flex;
    justify-content: center;
  }
  footer .link ul {
    list-style-type: none;
    display: flex;
  }
  footer .link ul li {
    margin: 0px 5px;
  }
  footer .link ul li a {
    padding: 2.5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    transition: all 0.3s;
    border-radius: 5px;
  }
  footer .link ul li a:hover {
    background-color: #ffffff;
    color: #000000;
  }
  footer .box {
    display: flex;
    width: 60%;
  }
  footer .box .contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }
  footer .box .text {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  footer .box .text a {
    text-decoration: none;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1450px) {
  .project {
    width: 100%;
    height: auto;
    padding: 0px 10px;
    margin-bottom: 100px;
  }
  .project .title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    text-align: center;
  }
  .project .title img {
    width: 35px;
    margin-bottom: 10px;
    filter: grayscale(100%);
    transition: all 0.3s;
    cursor: pointer;
  }
  .project .title img:hover {
    filter: grayscale(0%);
  }
  .project .projects {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }
  .project .projects .box {
    width: 400px;
    height: 300px;
    position: relative;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all 0.3s;
  }
  .project .projects .box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .project .projects .box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(0%);
  }
  .project .projects .box:hover img {
    filter: grayscale(100%);
  }
  .project .projects .box .about {
    position: absolute;
    top: -100px !important;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: center;
    padding: 0 20px;
    overflow-wrap: break-word;
    overflow: auto;
    white-space: normal;
  }
  .project .projects .box .about:hover {
    opacity: 1;
  }
  .project .projects .box .about .title {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    text-align: start;
    width: 100%;
  }
  .project .projects .box .about .progkod {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    margin-bottom: 10px;
  }
  .project .projects .box .about a {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
  }
  .project .projects .box .about a:hover {
    color: red;
  }
}
@media only screen and (max-width: 1300px) {
  .project {
    width: 100%;
    height: auto;
    padding: 0px 10px;
    margin-bottom: 100px;
  }
  .project .title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    text-align: center;
  }
  .project .title img {
    width: 35px;
    margin-bottom: 10px;
    filter: grayscale(100%);
    transition: all 0.3s;
    cursor: pointer;
  }
  .project .title img:hover {
    filter: grayscale(0%);
  }
  .project .projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }
  .project .projects .box {
    width: 350px;
    height: 250px;
    position: relative;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all 0.3s;
    margin-bottom: 30px;
  }
  .project .projects .box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .project .projects .box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(0%);
  }
  .project .projects .box:hover img {
    filter: grayscale(100%);
  }
  .project .projects .box .about {
    position: absolute;
    top: -100px !important;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: center;
    padding: 0 20px;
    overflow-wrap: break-word;
    overflow: auto;
    white-space: normal;
  }
  .project .projects .box .about:hover {
    opacity: 1;
  }
  .project .projects .box .about .title {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: normal;
    text-align: start;
    width: 100%;
  }
  .project .projects .box .about .progkod {
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    margin-bottom: 10px;
  }
  .project .projects .box .about a {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
  }
  .project .projects .box .about a:hover {
    color: red;
  }
}
@media only screen and (max-width: 1250px) {
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #check:checked ~ .hamburger-menu {
    position: fixed;
    right: 2rem !important;
  }
}
@media only screen and (max-width: 1070px) {
  .buttongroup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px !important;
  }
  .buttongroup .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100% !important;
  }
  .buttongroup .buttons .button {
    margin-top: 25px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .buttongroup .buttons .button a {
    text-decoration: none;
    color: #000000;
    background-color: #d9d9d9;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
    transition: all 0.3s;
  }
  .buttongroup .buttons .button a:hover {
    background-color: #000000;
    color: #d9d9d9;
  }
}
@media only screen and (max-width: 1000px) {
  footer {
    background-color: #000000;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
  }
  footer .link {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  footer .link ul {
    list-style-type: none;
    display: flex;
    padding: 0 !important;
  }
  footer .link ul li {
    margin: 0px 2.5px;
  }
  footer .link ul li a {
    padding: 2.5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem !important;
    font-weight: 500;
    font-style: normal;
    transition: all 0.3s;
    border-radius: 5px;
  }
  footer .link ul li a:hover {
    background-color: #ffffff;
    color: #000000;
  }
  footer .box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px !important;
  }
  footer .box .contacttt {
    width: 200px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 75px !important;
  }
  footer .box .contacttt .email {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
  }
  footer .box .text {
    width: 75px !important;
    display: flex;
    justify-content: center;
  }
  footer .box .text a {
    text-decoration: none;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
  }
}
@media only screen and (max-width: 800px) {
  .menu {
    display: flex;
    height: 150px !important;
  }
  .menu .title {
    height: 30px;
    font-size: 1.5rem;
    transform: rotate(-90deg);
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    margin-top: 28px !important;
  }
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-weight: bolder;
    font-size: 2.5rem !important;
    padding: 2.5px;
    transition: all 0.3s;
    border-radius: 5px;
    z-index: 999;
  }
  .menu ul li a:hover {
    background-color: #000000;
    color: #ffffff;
  }
  .contact {
    margin-top: 90px;
    height: 240px !important;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }
  .contact .address h5 {
    font-style: normal;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .contact .social {
    width: 263px;
    margin-bottom: 9px;
  }
  .contact .social a {
    font-size: 1.4rem;
    color: #000000;
    opacity: 0.3;
    transition: all 0.3s;
  }
  .contact .social a:hover {
    opacity: 1;
  }
}
@media only screen and (max-width: 700px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav .menu {
    display: flex;
    width: 330px;
  }
  nav .menu .title {
    height: 30px;
    font-size: 1.5rem;
    transform: rotate(-90deg);
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    margin-top: 33px;
  }
  nav .menu ul {
    list-style-type: none;
    padding: 0;
  }
  nav .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-weight: bolder;
    font-size: 3.5rem;
    padding: 2.5px;
    transition: all 0.3s;
    border-radius: 5px;
    z-index: 999;
  }
  nav .menu ul li a:hover {
    background-color: #000000;
    color: #ffffff;
  }
  nav .contact {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: end;
    padding-left: 28px;
  }
  nav .contact .address h5 {
    font-style: normal;
    font-size: 1.4rem;
    font-weight: bold;
  }
  nav .contact .social {
    width: 263px;
    margin-bottom: 9px;
  }
  nav .contact .social a {
    font-size: 1.4rem;
    color: #000000;
    opacity: 0.3;
    transition: all 0.3s;
  }
  nav .contact .social a:hover {
    opacity: 1;
  }
  .logos {
    overflow: hidden;
    padding: 30px 0px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
  }
  .logos::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 50px !important;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #f2f2f2);
  }
  .logos::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 50px !important;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f2f2f2);
  }
  .logos .logos-slide {
    white-space: nowrap;
    animation: 15s slide infinite linear;
  }
  .logos .logos-slide img {
    height: 75px !important;
    filter: grayscale(100%);
    margin: 0 20px !important;
    transition: all 0.3s;
    cursor: pointer;
  }
  .logos .logos-slide img:hover {
    filter: grayscale(0%);
  }
}
@media only screen and (max-width: 560px) {
  .about {
    margin: 100px 0px !important;
  }
  .about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 16px;
  }
  .about .container .title {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .about .container .title img {
    width: 25px;
    margin-left: 5px;
    filter: grayscale(100%);
    transition: all 0.3s;
    cursor: pointer;
  }
  .about .container .title img:hover {
    filter: grayscale(0%);
  }
  .about .container .des {
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */