@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}

::selection {
  background-color: #000000;
  color: #ffffff;
}

header {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 30px;
  background-color: #000000;
  position: relative;
}
header .text {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*HAMBURGER YERİ*/
}
header .text .title a {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
}
header .text nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  z-index: 9999 !important;
}
header .text nav .menu {
  display: flex;
  height: 330px;
}
header .text nav .menu .title {
  height: 30px;
  font-size: 1.5rem;
  transform: rotate(-90deg);
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  margin-top: 33px;
}
header .text nav .menu ul {
  list-style-type: none;
  padding: 0;
}
header .text nav .menu ul li a {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: bolder;
  font-size: 3.5rem;
  padding: 2.5px;
  transition: all 0.3s;
}
header .text nav .menu ul li a:hover {
  background-color: #000000;
  color: #ffffff;
}
header .text nav .contact {
  height: 330px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
header .text nav .contact .address h5 {
  font-style: normal;
  font-size: 1.4rem;
  font-weight: bold;
}
header .text nav .contact .social {
  width: 263px;
  margin-bottom: 9px;
}
header .text nav .contact .social a {
  font-size: 1.4rem;
  color: #000000;
  opacity: 0.3;
  transition: all 0.3s;
}
header .text nav .contact .social a:hover {
  opacity: 1;
}
header .text .hamburger-menu {
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 999 !important;
  margin-top: 5px;
}
header .text .hamburger-menu span, header .text .hamburger-menu span::before, header .text .hamburger-menu span::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ffffff;
}
header .text .hamburger-menu span {
  transform: translateY(20px);
  transition: all 300ms;
}
header .text .hamburger-menu span::before {
  position: absolute;
  transition: all 300ms;
  bottom: 15px;
}
header .text .hamburger-menu span::after {
  position: absolute;
  transition: all 300ms;
  top: 15px;
}
header .text #check:checked + .hamburger-menu span {
  background-color: transparent;
  transition: all 300ms;
}
header .text #check:checked + .hamburger-menu span::before {
  transform: rotate(-45deg);
  transition: all 300ms;
  bottom: 0;
}
header .text #check:checked + .hamburger-menu span::after {
  transform: rotate(45deg);
  transition: all 300ms;
  top: 0;
}
header .text #check:checked ~ nav {
  left: 0;
}
header .text #check:checked ~ .hamburger-menu {
  position: fixed;
  right: 10rem;
  z-index: 99999 !important;
}
header .text #check:checked ~ .hamburger-menu span::before {
  background-color: #000000;
}
header .text #check:checked ~ .hamburger-menu span::after {
  background-color: #000000;
}

.content {
  width: 100%;
  height: calc(100vh - 110px);
  background-color: #000000;
}
.content .text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.content .text .title {
  font-size: 2.5rem;
  font-weight: 500;
  font-style: normal;
}
.content .text .des {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
}
.content .swiper {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.content .swiper .bi-chevron-double-down {
  font-style: normal;
  font-size: 2.5rem;
  color: #ffffff;
}

.about {
  margin: 100px 0px !important;
}
.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 560px;
}
.about .container .title {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
}
.about .container .title img {
  width: 25px;
  margin-left: 5px;
  filter: grayscale(100%);
}
.about .container .des {
  font-size: 1.1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
}
.about .container .button {
  margin-top: 25px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .container .button a {
  text-decoration: none;
  color: #000000;
  background-color: #d9d9d9;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
  transition: all 0.3s;
}
.about .container .button a:hover {
  background-color: #000000;
  color: #d9d9d9;
}

.skills {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.skills .title {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.skills .title img {
  width: 35px;
  margin-bottom: 10px;
  filter: grayscale(100%);
}
.skills .logos {
  overflow: hidden;
  padding: 30px 0px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}
.skills .logos::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #f2f2f2);
}
.skills .logos::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f2f2f2);
}
.skills .logos .logos-slide {
  white-space: nowrap;
  animation: 20s slide infinite linear;
}
.skills .logos .logos-slide img {
  height: 100px;
  filter: grayscale(100%);
  margin: 0 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 1250px) {
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #check:checked ~ .hamburger-menu {
    position: fixed;
    right: 2rem !important;
  }
}
@media only screen and (max-width: 800px) {
  .menu {
    display: flex;
    height: 150px !important;
  }
  .menu .title {
    height: 30px;
    font-size: 1.5rem;
    transform: rotate(-90deg);
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    margin-top: 28px !important;
  }
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-weight: bolder;
    font-size: 2.5rem !important;
    padding: 2.5px;
    transition: all 0.3s;
  }
  .menu ul li a:hover {
    background-color: #000000;
    color: #ffffff;
  }
  .contact {
    height: 330px !important;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }
  .contact .address h5 {
    font-style: normal;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .contact .social {
    width: 263px;
    margin-bottom: 9px;
  }
  .contact .social a {
    font-size: 1.4rem;
    color: #000000;
    opacity: 0.3;
    transition: all 0.3s;
  }
  .contact .social a:hover {
    opacity: 1;
  }
}
@media only screen and (max-width: 700px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav .menu {
    display: flex;
    width: 330px;
  }
  nav .menu .title {
    height: 30px;
    font-size: 1.5rem;
    transform: rotate(-90deg);
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    margin-top: 33px;
  }
  nav .menu ul {
    list-style-type: none;
    padding: 0;
  }
  nav .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-weight: bolder;
    font-size: 3.5rem;
    padding: 2.5px;
    transition: all 0.3s;
  }
  nav .menu ul li a:hover {
    background-color: #000000;
    color: #ffffff;
  }
  nav .contact {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: end;
    padding-left: 28px;
  }
  nav .contact .address h5 {
    font-style: normal;
    font-size: 1.4rem;
    font-weight: bold;
  }
  nav .contact .social {
    width: 263px;
    margin-bottom: 9px;
  }
  nav .contact .social a {
    font-size: 1.4rem;
    color: #000000;
    opacity: 0.3;
    transition: all 0.3s;
  }
  nav .contact .social a:hover {
    opacity: 1;
  }
  .logos {
    overflow: hidden;
    padding: 30px 0px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
  }
  .logos::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 50px !important;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #f2f2f2);
  }
  .logos::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 50px !important;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f2f2f2);
  }
  .logos .logos-slide {
    white-space: nowrap;
    animation: 20s slide infinite linear;
  }
  .logos .logos-slide img {
    height: 75px !important;
    filter: grayscale(100%);
    margin: 0 20px !important;
  }
}
@media only screen and (max-width: 560px) {
  .about {
    margin: 100px 0px !important;
  }
  .about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 16px;
  }
  .about .container .title {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .about .container .title img {
    width: 25px;
    margin-left: 5px;
  }
  .about .container .des {
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */